= render 'layouts/header'

.form
  .form__container
    .form__container__title
      ユーザーログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .new-content
        = f.label :email, 'メールアドレス', class: "new-content__title"
        = f.text_field :email, autofocus: true, autocomplete: "email", class: "new-content__form"
      .new-content
        = f.label :password, 'パスワード', class: "new-content__title"
        = f.password_field :password, autocomplete: "current-password", class: "new-content__form"
      - if devise_mapping.rememberable?
        .new-content.check_box
          = f.check_box :remember_me
          = f.label :remember_me
      .new-content
        = f.submit "Log in", class: "submit-btn"
    = render "users/shared/links"

= render 'layouts/app-banner'

= render 'layouts/footer'
