= render 'layouts/header'

.form
  .form__container
    .form__container__title
      新規登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render 'layouts/error_messages', model: f.object
      .input.new-content
        = f.label :name, 'なまえ', class: "input__title"
        = f.text_field :name, autofocus: true, autocomplete: "name", class: "input__form"
      .input.new-content
        = f.label :email, 'メールアドレス', class: "input__title"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input__form"
      .input.new-content
        = f.label :password, 'パスワード', class: "input__title"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}文字以上)
        = f.password_field :password, autocomplete: "new-password", class: "input__form"
      .input.new-content
        = f.label :password_confirmation, 'パスワード(確認用)', class: "input__title"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "input__form"
      .new-content.submit
        = f.submit "登録", class: "submit-btn"
      = render "owners/shared/links"

= render 'layouts/footer'
