- provide(:title, "Top")

= render 'layouts/header'

.search
  %form.search__container{:action => "#", :method => "get"}
    %input{:placeholder => "キーワード検索", :size => "25", :type => "text"}
    %button{:type => "submit"}
      %i.fas.fa-search

.main
  .main__img
    .main__img__msg
      .main__img__msg__ttl
        あなたのカフェ選びなら
        %br/
        Cafelog
      .main__img__msg__txt
        %br/
        休憩・勉強・仕事・女子会
        %br
        最高のひとときを
  .main__feature
    用途ジャンルから探す
    %br/
    Tagsテーブルからタグ一覧を作成
  .main__shop-list
    %h2 ショップ一覧
    - @shops.each do |shop|
      %p
        = "id: #{shop.id} name: #{shop.name} prefecture: #{shop.prefecture} "
        = link_to "Show", owners_shop_path(shop)
        = link_to "Edit", edit_owners_shop_path(shop)
  .app-banner
    .app-banner__inner
      .app-banner__inner__txt
        - if owner_signed_in?
          今すぐカフェをオープン
        - else
          今すぐカフェを探す
      .app-banner__inner__btn
        - if owner_signed_in?
          = link_to "カフェを登録", new_owners_shop_path, class: "btn new-shop_btn"
        - else
          = link_to "新規登録", root_path, class: "btn login_btn"

= render 'layouts/footer'
