- provide(:title, @shop.name)

= render 'layouts/header'

.shop-info
  .shop-info__container
    .shop-info__container__main
      .shop-info__container__main__image
        = image_tag @shop.images[0].url.url, alt: "ショップ画像", height: '250px', width: '250px'
      .shop-info__container__main__contents
        .shop-info__container__main__contents__name
          - if owner_signed_in? && current_owner.id == @shop.owner_id
            = @shop.name
            = link_to "編集", edit_owners_shop_path(@shop), class: "shop-edit-btn"
          - else
            = @shop.name
        .shop-info__container__main__contents__info
          .shop-info__container__main__contents__info__address
            = "#{@shop.city}#{@shop.house_number} #{@shop.building_name}"
          .shop-info__container__main__contents__info__phone
            = "#{@shop.phone_number}"
        .shop-info__container__main__contents__tags
          - @shop.tags.each do |tag|
            = "##{tag.name}"
  .shop-info__container
    .shop-info__container__contents
      .shop-info__container__contents__map
        .shop-info__container__contents__map__ttl
          Cafe Map
        .shop-info__container__contents__map__field
      .shop-info__container__contents__images
        .shop-info__container__contents__images__ttl
          Cafe Photos
        .shop-info__container__contents__images__field
  .shop-info__container
    .shop-info__container__comments
      .shop-info__container__comments__ttl
        Comments
      .shop-info__container__comments__txt-form
        - if current_user
          = form_with(model: [@shop, @comment], local: true, id: "new_comment") do |form|
            = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
            = form.submit "SEND", class: "form__submit"
        - else
          %strong
            %p ※※※ コメントの投稿には一般ユーザーとして新規登録/ログインが必要です ※※※
      .shop-info__container__comment__comments
        .comments-ttl
          コメント一覧
        .comments-list
          - if @comments
            - @comments.each do |comment|
              .comment
                .comment__user= "#{comment.user.nickname}さん"
                .comment__text= safe_join(comment.text.split("\n"),tag(:br))

= render 'layouts/app-banner'

= render 'layouts/footer'