- provide(:title, @shop.name)

= render 'layouts/header'

.shop
  .shop__container
    .main
      .main__image
        = image_tag @shop.images[0].url.url, alt: "ショップ画像", height: '250px', width: '250px'
      .main__contents
        .main__contents__name
          - if owner_signed_in? && current_owner.id == @shop.owner_id
            = @shop.name
            = link_to "編集", edit_owners_shop_path(@shop), class: "main__contents__name__edit-btn"
          - else
            = @shop.name
        .main__contents__info
          .main__contents__info__address
            = "#{@shop.city}#{@shop.house_number} #{@shop.building_name}"
          .main__contents__info__phone
            = "#{@shop.phone_number}"
        .main__contents__tags
          = "# 女子会 #バリスタ"
  .shop__container
    .shop__container__contents
      .shop__container__contents__map
        .shop__container__contents__map__ttl
          Cafe Map
        .shop__container__contents__map__field
      .shop__container__contents__images
        .shop__container__contents__images__ttl
          Cafe Photos
        .shop__container__contents__images__field
  .shop__container
    .shop__container__comments
      .shop__container__comments__ttl
        Comments

= render 'layouts/app-banner'

= render 'layouts/footer'