.header
  .header__upper
    .header__upper__title
      - if owner_signed_in?
        = link_to Cafelog, owners_shops_path
      - else
        = link_to Cafelog, root_path
    .header__upper__nav
      .header__upper__nav__left
        = link_to "カテゴリ"
      .header__upper__nav__right
        %ul
          - if user_signed_in?
            %li
              = link_to current_user.nickname, user_path(current_user)
              さん
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn btn"
          - elsif owner_signed_in?
            %li
              = link_to current_owner.name, owner_path(current_owner)
              さん
            %li= link_to "ログアウト", destroy_owner_session_path, method: :delete, class: "logout-btn btn"
          - else
            %li ゲストユーザー
            %li= link_to "新規登録", new_user_registration_path, class: "signup-btn btn"
            %li= link_to "ログイン", new_user_session_path, class: "login-btn btn"
