.header
  .header__upper
    .header__upper__title
      = link_to Cafelog 
    .header__upper__nav
      .header__upper__nav__left
        = link_to "カテゴリ"
      .header__upper__nav__right
        %ul
          - if owner_signed_in?
            %li オーナー
            %li= link_to "ログアウト", destroy_owner_session_path, method: :delete
          - else
            %li ゲストユーザー
            %li= link_to "新規登録", new_owner_registration_path
            %li= link_to "ログイン", new_owner_session_path
